@charset "utf-8";
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-afqx4k');
	src:url('../fonts/icomoon.eot?#iefix-afqx4k') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-afqx4k') format('woff'),
		url('../fonts/icomoon.ttf?-afqx4k') format('truetype'),
		url('../fonts/icomoon.svg?-afqx4k#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon_heart:before {
	content: "\e600";
}

.icon_heart2:before {
	content: "\e601";
}

.icon_star:before {
	content: "\e602";
}

.icon_star2:before {
	content: "\e603";
}

.icon_bag:before {
	content: "\e604";
}

.icon_clipboard:before {
	content: "\e605";
}

.icon_cart:before {
	content: "\e606";
}

.icon_lock:before {
	content: "\e607";
}

.icon_arrow_left:before {
	content: "\e608";
}

.icon_arrow_down:before {
	content: "\e609";
}

.icon_arrow_up:before {
	content: "\e60a";
}

.icon_arrow_right:before {
	content: "\e60b";
}

.icon_arrow_left2:before {
	content: "\e60c";
}

.icon_arrow_down2:before {
	content: "\e60d";
}

.icon_arrow_up2:before {
	content: "\e60e";
}

.icon_arrow_right2:before {
	content: "\e60f";
}

.icon_times:before {
	content: "\e610";
}

.icon_tick:before {
	content: "\e611";
}

.icon_plus:before {
	content: "\e612";
}

.icon_minus:before {
	content: "\e613";
}

.icon_equals:before {
	content: "\e614";
}

.icon_divide:before {
	content: "\e615";
}

.icon_th_menu:before {
	content: "\e616";
}

.icon_th_list:before {
	content: "\e617";
}

.icon_home:before {
	content: "\e618";
}

.icon_heart3:before {
	content: "\e619";
}

.icon_user:before {
	content: "\e61a";
}

.icon_user_delete:before {
	content: "\e61b";
}

.icon_user_add:before {
	content: "\e61c";
}

.icon_group:before {
	content: "\e61d";
}

.icon_heart4:before {
	content: "\e61e";
}

.icon_assignment:before {
	content: "\e61f";
}

.icon_more_horiz:before {
	content: "\e620";
}

.icon_more_vert:before {
	content: "\e621";
}

.icon_check_box:before {
	content: "\e622";
}

.icon_check_box-outline-blank:before {
	content: "\e623";
}

.icon_spin:before {
	content: "\e624";
}

.icon_bubble:before {
	content: "\e96b";
}

.icon_spinner4:before {
	content: "\e97d";
}

.icon_happy:before {
	content: "\e9df";
}

.icon_happy2:before {
	content: "\e9e0";
}

.icon_smile:before {
	content: "\e9e1";
}

.icon_smile2:before {
	content: "\e9e2";
}

.icon_tongue:before {
	content: "\e9e3";
}

.icon_tongue2:before {
	content: "\e9e4";
}

.icon_sad:before {
	content: "\e9e5";
}

.icon_sad2:before {
	content: "\e9e6";
}

.icon_wink:before {
	content: "\e9e7";
}

.icon_wink2:before {
	content: "\e9e8";
}

.icon_grin:before {
	content: "\e9e9";
}

.icon_grin2:before {
	content: "\e9ea";
}

.icon_cool:before {
	content: "\e9eb";
}

.icon_cool2:before {
	content: "\e9ec";
}

.icon_angry:before {
	content: "\e9ed";
}

.icon_angry2:before {
	content: "\e9ee";
}

.icon_evil:before {
	content: "\e9ef";
}

.icon_evil2:before {
	content: "\e9f0";
}

.icon_shocked:before {
	content: "\e9f1";
}

.icon_shocked2:before {
	content: "\e9f2";
}

.icon_baffled:before {
	content: "\e9f3";
}

.icon_baffled2:before {
	content: "\e9f4";
}

.icon_confused:before {
	content: "\e9f5";
}

.icon_confused2:before {
	content: "\e9f6";
}

.icon_neutral:before {
	content: "\e9f7";
}

.icon_neutral2:before {
	content: "\e9f8";
}

.icon_hipster:before {
	content: "\e9f9";
}

.icon_hipster2:before {
	content: "\e9fa";
}

.icon_wondering:before {
	content: "\e9fb";
}

.icon_wondering2:before {
	content: "\e9fc";
}

.icon_sleepy:before {
	content: "\e9fd";
}

.icon_sleepy2:before {
	content: "\e9fe";
}

.icon_frustrated:before {
	content: "\e9ff";
}

.icon_frustrated2:before {
	content: "\ea00";
}

.icon_crying:before {
	content: "\ea01";
}

.icon_crying2:before {
	content: "\ea02";
}

