@charset "utf-8";

.index{
	height: 100%;
	background:url(../images/bg_index_img_01@1x.png) repeat-x -200% 0;
	position: relative;
}
.index .logo{
	position: relative;
	top: 6%;
	margin: 0 auto;
	width: 280px;
	height: 320px;
	display: block;
}
.nav_index{
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	width: 320px;
    height:153px;
	margin: 0 auto;
	background:url(../images/bg_nav_index@1x.png) no-repeat center 0;
	background-size:100%;
}

.nav_index .link{
	position: absolute;
	display: block;
    width: 50px;
    height: 40px;
    padding: 0 10px;
    margin: 35px 0px 35px 0px;
    background: #b184d1;
    color: #fff;
    text-align: center;
    font-size: 1.7em;
    line-height: 1.2em;
    text-shadow:1px 1px 1px #000;
}
.nav_index .link:before {
    content: "";
    position: absolute;
    top: -20px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 20px solid #b184d1;
}
.nav_index .link:after {
    content: "";
    position: absolute;
    bottom: -20px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 20px solid #b184d1;
}

.nav_index .link:hover{
	background: #8b5eb5;
}
.nav_index .link:hover:before {
    border-bottom: 20px solid #8b5eb5;
}
.nav_index .link:hover:after {
    border-top: 20px solid #8b5eb5;
}

.nav_index .link1{
	left: 28px;
	top: 42px;
}

.nav_index .link2{
	left: 125px;
	top: -14px;
}

.nav_index .link3{
	left: 220px;
	top: 42px;
}



/* header sub ad */
.header .title{
	height: 42px;
	background:#7355ab url(../images/bg_head_title.png) repeat-x 20% 0;
	position: relative;
}
.header .title .bg,
.header .title .icon{
	background: url(../images/default_img.png) no-repeat 0 0;
}
.header .title .bg{
	background-position: right -30px;
}
.header .title .icon{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	margin: 6px 10px;

	background-position: 0px 0px;

	overflow: hidden;
}
.header .title .txt{
	font-size: 1.6em;
	line-height: 42px;
	padding:0 0 0 50px;
	display: block;
	color: #fff;
}


/* 积分 */
.integral{
	padding: 40px 20px;
	margin: 0 auto -361px auto;
	height: 100%;
	overflow: hidden;
}
.integral .info{
	/*position: relative;*/
	/*padding: 0 10px;*/
	margin: 10px 0;
	font-size: 1.6em;
	line-height: 1em;
}
.integral .info .title{
	display: inline-block;
	/*position: absolute;
	display: block;
	left: 0;*/
}