@charset "utf-8";

.index{
	height: 100%;
	background:url(../images/bg_index_img_01@1x.png) repeat-x -200% 0;
	position: relative;
}
.index .logo{
	position: relative;
	top: 6%;
	margin: 0 auto;
	width: 280px;
	height: 320px;
	display: block;
}
.nav_index{
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	width: 320px;
    height:153px;
	margin: 0 auto;
	background:url(../images/bg_nav_index@1x.png) no-repeat center 0;
	background-size:100%;
}

.nav_index .link{
	position: absolute;
	display: block;
    width: 50px;
    height: 40px;
    padding: 0 10px;
    margin: 35px 0px 35px 0px;
    background: #b184d1;
    color: #fff;
    text-align: center;
    font-size: 1.7em;
    line-height: 1.2em;
    text-shadow:1px 1px 1px #000;
}
.nav_index .link:before {
    content: "";
    position: absolute;
    top: -20px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 20px solid #b184d1;
}
.nav_index .link:after {
    content: "";
    position: absolute;
    bottom: -20px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 20px solid #b184d1;
}

.nav_index .link:hover{
	background: #8b5eb5;
}
.nav_index .link:hover:before {
    border-bottom: 20px solid #8b5eb5;
}
.nav_index .link:hover:after {
    border-top: 20px solid #8b5eb5;
}

.nav_index .link1{
	left: 28px;
	top: 42px;
}

.nav_index .link2{
	left: 125px;
	top: -14px;
}

.nav_index .link3{
	left: 220px;
	top: 42px;
}



/* header sub ad */
.header .title{
	height: 42px;
	background:#7355ab url(../images/bg_head_title.png) repeat-x 20% 0;
	position: relative;
}
.header .title .bg,
.header .title .icon{
	background: url(../images/default_img.png) no-repeat 0 0;
}
.header .title .bg{
	background-position: right -30px;
}
.header .title .icon{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	margin: 6px 10px;

	background-position: 0px 0px;

	overflow: hidden;
}
.header .title .txt{
	font-size: 1.6em;
	line-height: 42px;
	padding:0 0 0 50px;
	display: block;
	color: #fff;
}


/* 积分 */
.integral{
	padding: 40px 20px;
	margin: 0 auto -361px auto;
	height: 100%;
	overflow: hidden;
}
.integral .info{
	/*position: relative;*/
	/*padding: 0 10px;*/
	margin: 10px 0;
	font-size: 1.6em;
	line-height: 1em;
}
.integral .info .title{
	display: inline-block;
	/*position: absolute;
	display: block;
	left: 0;*/
}

/* 总计 */
.aggregate{
	padding: 20px 20px;
	background: #f7f7f7;
	border-bottom: 1px solid #a1a1a1;
	
	text-align: right;
	font-size: 1.4em;
}
.aggregate .txt{
	
}
.aggregate .price_sum{
	font-size: 1.8em;
	color: #971012;
}

.aggregate .respectively{
	
}


/* 个人中心 */
.uesr{
	padding: 0;
}

.uesr .list_title{
}
.uesr .list_title .btn{
	float: right;
	color: #a1a1a1;
	font-size: 0.8em;
}

.uesr .ures_info{
	border-bottom: 1px solid #a1a1a1;
	/*background: #f7f7f7;*/
}
.uesr .ures_info .list{
	font-size: 1.6em;
}

.uesr .ures_info .btn_recharge{
	padding: 6px;
	font-size: 0.8em;
	margin: 0 10px;
	/*text-shadow:none;*/
}



.uesr .nav_user{
	/*border-bottom: 1px solid #a1a1a1;*/
}
.uesr .nav_user .list{
	position: relative;
	padding-left:50px;
	border-top: 1px dashed #a1a1a1;

	font-size: 1.6em;
	line-height: 1em;
}
.uesr .nav_user .list:first-child{
	border-top:none;
}
.uesr .nav_user .list .link{
	color: #a1a1a1;
	display: block;
	padding: 10px 0;
}
.uesr .nav_user .list .icon{
	position: absolute;
	left: 20px;
	display: block;
}

.uesr .nav_user .list:hover{
	background: #7355ab;
	color: #fff;
}

.uesr .nav_user .list .link:hover{
	color: #fff;
	

}





/* css3动画 */
.nav .ul .list,
.nav .ul .list .link .icon,
.nav .ul .list .nav_sub .sub_link,
.nav_bottom .link,
.mod_product .list .link .sign,
.mod_btn,
select,
.mod_product2 .list .img_warp .img,
.mod_screen_condition2,
.mod_screen_condition2 .title,
.mod_screen_condition2 .title .icon,
.mod_screen_condition2 .condition,
.mod_product_selectlists .list .img_warp .img,
.mod_login_signin input,
.mod_shop .item_list .item_amount a,
.mod_shop .item_list .item_amount input,
.mod_form input,
.mod_form textarea,
.uesr .nav_user .list .link,
.uesr .nav_user .list{
	-webkit-transition:all .4s ease-out;
	-moz-transition:all .4s ease-out;
	-ms-transition:all .4s ease-out;
	-o-transition:all .4s ease-out;
	transition:all .4s ease-out;
}




/*

	全局
	
	  	  主色 7355ab
	 	  辅色 
    	高亮色 b184d1
    	阴影色 694da7
    	点睛色 e89d32 971012
    	背景色 fff

    	  灰色 a1a1a1
    	深灰色 8f8f8f
    	浅灰色 cccccc
      更灰浅色 f5f5f5

	  字体颜色 

	主标题颜色 7355ab
	副标题颜色 
	  正文颜色 a1a1a1
	
	  过渡颜色

	主标题大小 
	副标题大小 18px
	  正文大小 14px

	主标题行高 
	副标题行高 
	  正文行高 

		  边距
		内填充

*/