@charset "utf-8";

.index{
	height: 100%;
	background:url(../images/bg_index_img_01@1x.png) repeat-x -200% 0;
	position: relative;
}
.index .logo{
	position: relative;
	top: 6%;
	margin: 0 auto;
	width: 280px;
	height: 320px;
}
.nav_index{
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	/*width: 360px;
	height:230px;*/
	width: 320px;
    height:153px;
	/*max-width: 480px;*/
	margin: 0 auto;
	background:url(../images/bg_nav_index@1x.png) no-repeat center 0;
	background-size:100%;
}


.nav_index .link{
	position: absolute;
	display: block;
    width: 50px;
    height: 40px;
    padding: 0 10px;
    margin: 35px 0px 35px 0px;
    background: #b184d1;
    color: #fff;
    text-align: center;
    font-size: 1.7em;
    line-height: 1.2em;
    text-shadow:1px 1px 1px #000;
}
.nav_index .link:before {
    content: "";
    position: absolute;
    top: -20px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 20px solid #b184d1;
}
.nav_index .link:after {
    content: "";
    position: absolute;
    bottom: -20px; 
    left: 0;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 20px solid #b184d1;
}


.nav_index .link:hover{
	background: #8b5eb5;
}
.nav_index .link:hover:before {
    border-bottom: 20px solid #8b5eb5;
}
.nav_index .link:hover:after {
    border-top: 20px solid #8b5eb5;
}

.nav_index .link1{
	left: 28px;
	top: 42px;
	/*opacity: 0.2;*/
	/*filter: alpha(opacity=20);*/
}

.nav_index .link2{
	left: 125px;
	top: -14px;
	/*opacity: 0.2;*/
	/*filter: alpha(opacity=20);*/
}

.nav_index .link3{
	left: 220px;
	top: 42px;
	/*opacity: 0.2;*/
	/*filter: alpha(opacity=20);*/
}